
<div class="recruit-component">
  <div class="recruits"> 
    <recruit-search></recruit-search>
    <div class="scrollable">
      <ul>
        <li *ngFor="let recruit of recruits"
          class="recruit"
          [class.selected]="recruit === selectedRecruit"
          (click)="onSelect(recruit)">
          <span>{{recruit.name}}</span>
          <button class="delete"
            (click)="delete(recruit); $event.stopPropagation()">x</button>
        </li>
      </ul>
    </div>
    <div class="recruit-add">
      <input #recruitName (click)=onInputClicked() [(ngModel)]="addText" (blur)=onBlur()/>
      <button (click)="add(recruitName.value); recruitName.value=''">
        Add
      </button>
    </div>
  </div>
    
  <div class="recruit-details-wrapper">
    <div *ngIf="selectedRecruit">
      <recruit-details [recruit]="selectedRecruit"></recruit-details>
    </div>
  </div>

</div>