<div *ngIf="company">
  <h2>{{company.name}} details!</h2>
  <div>
    <label>id: </label>{{company.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="company.name" placeholder="name" />
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
   
<ul class="vacancies">
    <li *ngFor="let vacancy of vacancies"
        [class.selected]="vacancy === selectedVacancy"
        (click)="onSelect(vacancy)">
        <span class="badge">{{vacancy.id}}</span> 
        <span>{{vacancy.description}}</span>
        <button class="delete"
            (click)="delete(vacancy); $event.stopPropagation()">x</button>

    </li>
  </ul>
