<div *ngIf="company" style="position: relative;">
  <h2>{{company.name}} vacancies</h2>
</div>
<div class="scrollable">
  <ul class="vacancies">
    <li *ngFor="let vacancy of vacancies"
          [class.selected]="vacancy === selectedVacancy"
          (click)="onSelect(vacancy); hideOverlay = false;"
          class="vacancy">
          <h3>{{vacancy.jobtitle}}</h3>
          <p>{{vacancy.shortDescription}}</p>
          <ul>
            <li *ngFor="let tag of vacancy.tags">
              <span> {{tag}} </span>
            </li>
          </ul>
          <button class="delete"
              (click)="delete(vacancy); $event.stopPropagation()">x</button>
      
        <div *ngIf="hideOverlay === false" class="popup-overlay"  (click)="$event.stopPropagation()"> 
          <div class="vacancy-details">
            <h2> {{vacancy.jobtitle}} </h2>
            <p> {{vacancy.shortDescription}}</p>

            <span *ngIf="possibleRecruits.length"> Best Candidates: </span>
              <ul>
                <li *ngFor="let recruit of possibleRecruits" class="possible-recruit" (click)="goToRecruit(recruit.id)">
                  {{recruit.name}}
                </li>
              </ul>
            <button class="close-overlay"
              (click)="hideOverlay = true; $event.stopPropagation()">x</button>
          </div>
        </div>
    </li>

  </ul>
</div>

