<div *ngIf="company">
  <h2>{{company.name}} vacancies</h2>
</div>
<div class="scrollable">
  <ul class="vacancies">
    <li *ngFor="let vacancy of vacancies"
          [class.selected]="vacancy === selectedVacancy"
          (click)="onSelect(vacancy)"
          class="vacancy">
          <h3>{{vacancy.jobtitle}}</h3>
          <p>{{vacancy.shortDescription}}</p>
          <ul>
            <li *ngFor="let tag of vacancy.tags">
              <span> {{tag}} </span>
            </li>
          </ul>
          <button class="delete"
              (click)="delete(vacancy); $event.stopPropagation()">x</button>

    </li>
  </ul>
</div>
