<div class="company-component">
  <div class="companies" style="flex: 0.2">
    <company-search></company-search>
    <div class="scrollable">
      <ul>
        <li *ngFor="let company of companies"
            class="company"
            [class.selected]="company === selectedCompany"
            (click)="onSelect(company)"
            style="align-items: center; justify-content: center; display: flex;">
          <span style="align-items: center;">{{company.name}}</span>
          <button class="delete" (click)="delete(company); $event.stopPropagation()">x</button>
        </li>
      </ul>
    </div>
    <div class="company-add">
      <input #companyName (click)=onInputClicked() [(ngModel)]="addText" (blur)=onBlur() />
      <button (click)="add(companyName.value); companyName.value=''">
        Add
      </button>
    </div>
  </div>

  <div class="vacancies-wrapper" style="flex: 0.8">
    <div *ngIf="selectedCompany">
      <vacancies [company]="selectedCompany"></vacancies>
    </div>
  </div>
</div>