<div class="company-component">
  <div class="companies">
    <company-search></company-search>
    <div class="scrollable">
      <ul>
        <li *ngFor="let company of companies"
            class="company"
            [class.selected]="company === selectedCompany"
            (click)="onSelect(company)">
          <span style="align-items: center;">{{company.name}}</span>
          <button class="delete" (click)="delete(company); $event.stopPropagation()">x</button>
        </li>
      </ul>
    </div>
    <div class="company-add">
      <input #companyName (click)=onInputClicked() [(ngModel)]="addText" (blur)=onBlur() />
      <button (click)="add(companyName.value); companyName.value=''">
        Add
      </button>
    </div>
  </div>

  <div class="vacancies-wrapper">
    <div *ngIf="selectedCompany">
      <vacancies [company]="selectedCompany"></vacancies>
    </div>
  </div>
</div>